<div>
	<a href="#/clothes">Go Back</a>
	<br><br>
	<div class="col-md-4">
		<img class="img-full" src="img/{{mainImage}}">
		<div ng-repeat="image in cloth.images | limitTo:4">
			<div class="col-md-3">
				<img class="img-full" ng-src="img/{{image.name}}" ng-click="setImage(image)">
			</div>
		</div>
	</div>
	<br/>
	<div class="col-md-8 clothdetails">
		<h3>{{cloth.name}}</h3>
		<p>{{cloth.description}}</p>
		<p>Type: {{cloth.type}}</p>
		<h4>{{cloth.price}}</h4>
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

			<!-- Saved buttons use the "secure click" command -->
			<input type="hidden" name="cmd" value="_xclick">

			<!-- Saved buttons are identified by their button IDs -->
			<input type="hidden" name="business" value="sayedhaiderr@gmail.com">
			<input type="hidden" name="item_name" value="{{cloth.name}}">
			<input type="hidden" name="item_number" value="{{cloth.id}}">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="amount" value="{{cloth.price}}">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="rm" value="2">
	
			<input type="hidden" name="return" value="http://localhost:8000">
			<input type="hidden" name="cancel_return" value="http://localhost:8000">
			<!-- Saved buttons display an appropriate button image. -->
			<input type="image" name="submit" border="0"
			src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
			alt="PayPal - The safer, easier way to pay online">
			<img alt="" border="0" width="1" height="1"
			src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

			</form>
	</div>
</div>